body {
    margin: 0;
}

/*HEADER*/
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    padding: 16px 96px;
}

.header .right-links {
    display: flex;
    gap: 32px;
    padding: 16px 96px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}


/*HERO TEXT*/
.hero {
    background-color: #1f2937;
    display: flex;
    padding: 40px 96px;
    justify-content: space-around;
    gap: 5%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.hero .text {
    color: #f9faf8;
}

#hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero img {
    max-width: 800px;
    flex: 3;
}

.hero button {
    background-color: #3882f6;
    margin: 0 60px;
    border: none;
    border-radius: 10px;
    padding: 4px;

}

.hero p {
    font-size: 18px;
}
