body {
    margin: 0;
}

/*HEADER*/
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    padding: 16px 96px;
}

.header .right-links {
    display: flex;
    gap: 32px;
    padding: 16px 96px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}


/*HERO TEXT*/
.hero {
    background-color: #1f2937;
    display: flex;
    padding: 40px 96px;
    justify-content: space-around;
    gap: 5%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.hero .text {
    color: #f9faf8;
}

#hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero img {
    max-width: 800px;
    flex: 3;
}

.hero button {
    background-color: #3882f6;
    margin:  12px auto 0;
    border: none;
    border-radius: 12px;
    padding: 4px;
    width: 128px;
    font-size: 18px;
    font-weight: 700;
}

.hero p {
    font-size: 18px;
}

/*INFO*/
#info {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    
}

.info {
    display: flex;
    justify-content: center;
    padding: 16px 64px;
    gap: 48px;
}

.container img {
    flex: 1 1 250px;
    width: 250px;
    height: 250px;
    border: 4px solid #3882f6;
    border-radius: 5px;
}

.container p {
    flex: 1 1 250px;
    width: 250px;
    text-align: center;
    margin: 0;
    padding: 4px 8px;
}